In [3]:
import pandas as pd

In [1]:
import pandas as pd

# Load the dataset
file_path = "b3a_pk2_4.csv"
data = pd.read_csv("b3a_pk2_4.csv")

# Function to split the pk18 values and count occurrences for each character
def count_pk18_combinations(row):
    # Get the pk18 value, which is a string
    pk18_value = row['pk18']
    
    # Split the pk18 string into individual characters and return each character
    return list(pk18_value)

# Apply the function to split pk18 and create a new DataFrame where each row represents one of the individual characters
expanded_data = data.explode('pk18').reset_index(drop=True)

# Now group by 'hhid07', 'pk2type', and 'pk18' and count the occurrences
frequency_table = expanded_data.groupby(['hhid07', 'pk2type', 'pk18']).size().reset_index(name='frequency')

# Pivot the table to create a cross-tabulation of pk2type (rows) and pk18 (columns)
pivot_table = frequency_table.pivot_table(index='pk2type', columns='pk18', values='frequency', aggfunc='sum', fill_value=0)

# Filter to only show A, B, C, D in the columns (you can adjust this as needed)
pivot_table = pivot_table[['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'O', 'P']]  # Add or modify categories here

In [2]:
pivot_table.head()

pk18        A     B   C    D    E   F    G   H  I   J  K   L  M   O  P
pk2type
A1       6479  6108   9   88  274  16  225  11  1  11  0  15  8  29  1
A2       6556  6414  10   99  279   5  231  10  1   9  0  13  6  30  1
B        6351  6197  17  118  267   6  207   9  1  13  1  13  6  31  1
C        7429  2970  22   74    5   1    5   0  0   0  0   1  0   1  2
D        3047  6332  21   72    3   0    5   0  0   0  1   1  0   3  2

In [3]:
pivot_table.to_csv("yuk.csv")

In [13]:
df = pd.read_csv("b3a_pk2_5.csv", dtype={"hhid07": str})

FileNotFoundError: [Errno 2] No such file or directory: 'b3a_pk2_5.csv'

In [5]:
transposed_df = df.set_index('pk2type').T

In [6]:
transposed_df.head()

pk2type,A1,A2,B,C,D,E,F,G,H,I,...,H,I,J,K,L,M,N,O,P,Q
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,344726,344727,344728,344729,344730,344731,344732,344733,344734,344735
pid07,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
pk18,B,B,B,A,A,A,AB,AB,A,A,...,AB,X,X,A,A,A,B,A,AB,Y
hhid07,0012200,0012200,0012200,0012200,0012200,0012200,0012200,0012200,0012200,0012200,...,3213000,3213000,3213000,3213000,3213000,3213000,3213000,3213000,3213000,3213000
pidlink,1220001,1220001,1220001,1220001,1220001,1220001,1220001,1220001,1220001,1220001,...,321300002,321300002,321300002,321300002,321300002,321300002,321300002,321300002,321300002,321300002

In [9]:
transposed_df.to_csv("transposedyuk.csv")

In [7]:
import pandas as pd
df1 = pd.read_csv("b3a_pk2_4.csv", dtype={"hhid07": str})

df2 = df1[["hhid07", "pk18", "pk2type"]]

In [8]:
df2.head()

    hhid07 pk18 pk2type
0  0012200    B      A1
1  0012200    B      A2
2  0012200    B       B
3  0012200    A       C
4  0012200    A       D

In [9]:
# Define a function to apply the condition
def value_condition(pk18):
    if 'B' in pk18:
         return 1
    else:
        return 0

df2['value'] = df2['pk18'].apply(value_condition)

print(df2)

         hhid07 pk18 pk2type  value
0       0012200    B      A1      1
1       0012200    B      A2      1
2       0012200    B       B      1
3       0012200    A       C      0
4       0012200    A       D      0
...         ...  ...     ...    ...
344731  3213000    A       M      0
344732  3213000    B       N      1
344733  3213000    A       O      0
344734  3213000   AB       P      1
344735  3213000    Y       Q      0

[344736 rows x 4 columns]

C:\Users\nitar\AppData\Local\Temp\ipykernel_5152\2823315272.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['value'] = df2['pk18'].apply(value_condition)

In [10]:
import pandas as pd

df3 = df2[["hhid07", "pk2type", "value"]]

In [11]:
# First, group by 'hhid07', and then pivot the data
df_grouped = df2.groupby(['hhid07', 'pk2type'])['value'].first().reset_index()

# Now, pivot the data from long to wide
df_wide = df_grouped.pivot(index=["hhid07"], columns="pk2type", values="value")

# If you want to reset the column names (make them clean)
df_wide.columns = df_wide.columns.to_series().str.strip()

# Reset index to make it flat if desired (optional)
df_wide.reset_index(inplace=True)

# Display the reshaped DataFrame
print(df_wide)

pk2type   hhid07  A1  A2  B  C  D  E  F  G  H  I  J  K  L  M  N  O  P  Q
0        0012200   1   1  1  0  0  0  1  1  0  0  0  0  1  0  0  1  1  1
1        0012241   1   1  1  1  1  1  1  1  1  1  1  1  1  1  0  1  1  1
2        0012500   0   0  0  0  0  0  0  0  0  0  0  1  0  0  1  1  1  0
3        0012900   1   1  1  1  1  1  1  1  1  0  0  1  0  0  1  1  1  1
4        0020100   0   0  0  0  1  0  1  1  1  1  1  1  0  1  0  1  1  0
...          ...  ..  .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
9380     3212741   0   0  0  0  0  0  1  1  1  1  1  1  0  1  1  0  1  0
9381     3212800   1   1  1  1  1  1  1  1  1  0  1  1  0  1  1  1  0  0
9382     3212900   0   0  0  0  1  1  1  1  1  1  1  1  0  1  1  1  1  0
9383     3212911   0   0  0  0  0  0  1  1  1  1  1  1  0  0  1  1  1  0
9384     3213000   1   1  1  1  1  1  1  1  1  1  1  1  0  1  1  1  1  0

[9385 rows x 19 columns]

In [12]:
df_wide.to_csv("siappca01new4.csv")